@model LessonDetailsViewModel

<section class="lecture-detail p-3">

    <section class="d-flex gap-5">

        <div class="d-flex flex-column gap-3 w-50">
            <p><strong>@Model.Name</strong></p>

            @Html.Raw(Model.Description)

            @{
                await Html.RenderPartialAsync("~/Views/Shared/Partials/Lessons/_LessonMetaDataPartial.cshtml", Model);
            }

        </div>

        <div class="d-flex flex-column gap-3 w-50">
            <h5>Resources</h5>

            @if (Model.HasResources)
            {
                <section>
                    @foreach (var resource in Model.Resources)
                    {
                        <section class="d-flex gap-2">
                            <a 
                                asp-controller="Trainings" 
                                asp-action="DownloadResource" 
                                asp-route-id="@resource.Id"
                                asp-route-courseId="@Model.CourseId">
                                @resource.Name
                            </a>

                            @if (this.User.IsAdmin())
                            {
                                <div class="d-flex gap-2">
                                    <a asp-area="Administration"
                                       asp-controller="Resources"
                                       asp-action="Delete"
                                       asp-route-id="@resource.Id"
                                       asp-route-courseId="@Model.CourseId"
                                       class="text-decoration-none">
                                        <i class="fa-solid fa-trash text-dark"></i>
                                    </a>

                                    <a asp-area="Administration"
                                       asp-controller="Resources"
                                       asp-action="Update"
                                       asp-route-id="@resource.Id"
                                       class="text-decoration-none">
                                        <i class="fa-solid fa-pen text-dark"></i>
                                    </a>
                                </div>
                            }
                        </section>
                    }
                </section>
            }
        </div>

    </section>

    @if (this.User.IsAdmin())
    {
        <div class="d-flex justify-content-between mt-3">
            <a asp-area="Administration"
               asp-controller="Lessons"
               asp-action="Update"
               asp-route-id="@Model.Id"
               class="btn btn-primary">Update</a>

            <a asp-area="Administration"
               asp-controller="Lessons"
               asp-action="Delete"
               asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
        </div>
    }

</section>
