@model LessonDetailsViewModel

<section class="lecture-detail p-3">

    <section class="d-flex gap-5">

        <div class="d-flex flex-column gap-3 w-50">
            <p><strong>@Model.Name</strong></p>

            @Html.Raw(Model.Description)

            @{
                await Html.RenderPartialAsync("~/Views/Shared/Partials/Lessons/_LessonMetaDataPartial.cshtml", Model);
            }

        </div>

        <div class="d-flex flex-column gap-3 w-50">
            <h5>Resources</h5>

            @if (Model.HasResources)
            {
                <div>
                    @foreach (var resource in Model.Resources)
                    {
                        <p>
                            <a asp-controller="Trainings" asp-action="DownloadResource" asp-route-id="@resource.Id">@resource.Name</a>
                        </p>
                    }
                </div>
            }
        </div>

    </section>

    @if (this.User.IsAdmin())
    {
        <div class="d-flex justify-content-between mt-3">
            <a asp-area="Administration"
               asp-controller="Lessons"
               asp-action="Update"
               asp-route-id="@Model.Id"
               class="btn btn-primary">Update</a>

            <a asp-area="Administration"
               asp-controller="Lessons"
               asp-action="Delete"
               asp-route-id="@Model.Id"
               class="btn btn-danger">Delete</a>
        </div>
    }

</section>