@model CoursesRequestDataModel

@{
    var controllerName = this.Context?.Request?.RouteValues["controller"]?.ToString();
    var actionName = this.Context?.Request?.RouteValues["action"]?.ToString();
}

<section class="row mb-5 mt-5">
    <form method="get" asp-controller=@controllerName asp-action=@actionName
          asp-route-currentPage="@Model.CurrentPage"
          asp-route-searchTerm="@Model.SearchTerm"
          asp-route-orderBy="@Model.OrderBy"
          class="row justify-content-center">

        <div class="col-lg-3">
            <input asp-for="SearchTerm" id="searchTerm" placeholder="Search by name" type="search" class="form-control" />
        </div>

        <div class="col-lg-3 mt-2 mt-lg-0">
            <select asp-for="OrderBy" id="orderBy" class="form-select">
                @foreach (var order in Enum.GetNames(typeof(CoursesOrderOptions)))
                {
                    var description = ((CoursesOrderOptions)Enum.Parse(typeof(CoursesOrderOptions), order, true)).GetEnumDescription();

                    <option value="@order">@description</option>
                }
            </select>
        </div>

        <div class="col-lg-2 mt-2 mt-lg-0">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </div>

    </form>
</section>