@model ListUsersViewModel

@{
    this.ViewData["Title"] = "All Users";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/users.css" />
}

<section class="section">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-12">
                <div class="mb-4">
                    <form method="get" asp-action="All"
                        asp-route-currentPage="@Model.PageList.CurrentPage" 
                        asp-route-searchTerm="@Model.SearchTerm" 
                        asp-route-role="@Model.Role">
                        <div class="g-2 row">

                            <div class="col-lg-3">
                                <input asp-for=@Model.SearchTerm placeholder="Username, email" type="search" class="form-control" />
                            </div>

                            <div class="col-lg-3">
                                <select asp-for=@Model.Role class="form-select">
                                    @foreach (var roleName in Enum.GetNames(typeof(Roles)))
                                    {
                                        var value = ((Roles)Enum.Parse(typeof(Roles), roleName, true)).GetEnumValue();

                                        <option value=@value>@roleName</option>
                                    }
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <div>
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                @foreach (var user in Model.PageList.Entities)
                {
                    <div class="card mt-4">
                        <div class="p-4 card-body">
                            <div class="align-items-center row">
                                <div class="col-auto">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="avatar-md img-thumbnail rounded-circle" />
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="mt-3 mt-lg-0">
                                        <h5 class="fs-19 mb-0">
                                            @user.UserName
                                        </h5>
                                        <p class="text-muted mb-2">@user.FormatedRoles</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                        <span class="badge bg-soft-secondary fs-14 mt-1">Buttons</span>
                                        @if (!user.IsTeacher)
                                        {
                                            <a asp-action="CreateTeacher" asp-route-email="@user.Email">Create teacher</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (Model.PageList.HasPagination)
        {
            <div class="row">
                <div class="mt-4 pt-2 col-lg-12">
                    @await Html.PartialAsync("_Pagination", Model.PageList)
                </div>
            </div>
        }

    </div>
</section>