<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | StudentSystem</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentSystem.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/fonts/Lato-Black.ttf" />
    <link rel="stylesheet" href="~/fonts/Lato-Bold.ttf" />
    <link rel="stylesheet" href="~/fonts/Lato-Light.ttf" />
    <link rel="stylesheet" href="~/fonts/Lato-Regular.ttf" />

    <script src="https://kit.fontawesome.com/ddc00cf9b8.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="offset-md-3 col-md-6">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav d-flex align-items-center flex-grow-1">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" /></a>
                        </li>

                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Students" asp-controller="BecomeStudent" asp-action="Apply">Become a Student</a>
                        </li> *@
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>

        <section class="offset-md-3 col-md-6 d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-sm-between gap-3 gap-md-0 mb-5">

            <div class="text-center">
                <h4>Contact Us</h4>
                <br />
                <p>Bul. Sankt Petersburg</p>
                <p>Trakia</p>
                <p>Plovdiv</p>
                <p>Bulgaria</p>
            </div>

            <div>
                <h4>Quick Links</h4>
            </div>

            <div>
                <h4>Social Media</h4>
            </div>

        </section>

        <section class="offset-3 col-6 text-center p-2 copyrights">
            <p>&copy; 2024 StudentSystem</p>
        </section>

    </footer>

    <script type="text/javascript">
        document.querySelector('body').onload = function checkIfNotificationMessageIsGiven() {
            toastr.options.closeButton = true;
            toastr.options.progressBar = true;
            toastr.options.allowHtml = true;

            if ('@this.TempData[SuccessNotification]') {
                toastr.success('@Html.Raw(this.TempData[SuccessNotification])');
            }

            if ('@this.TempData[ErrorNotification]') {
                toastr.error('@Html.Raw(this.TempData[ErrorNotification])');
            }
        };
    </script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
