@using StudentSystem.Common.Infrastructure.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | StudentSystem</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentSystem.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/fonts/Lato-Black.ttf" />
    <link rel="stylesheet" href="~/fonts/Lato-Bold.ttf" />
    <link rel="stylesheet" href="~/fonts/Lato-Light.ttf" />
    <link rel="stylesheet" href="~/fonts/Lato-Regular.ttf" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("HeadScripts", required: false)

    <script src="https://kit.fontawesome.com/ddc00cf9b8.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav id="navigation" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-lignt box-shadow mb-3">
            <div class="offset-md-3 mt-md-3">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" /></a>
            </div>
            <div class="col-md-6">
                <button class="burger-menu navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav align-items-md-center flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Trainings" asp-action="Index">
                                <span>Courses</span>
                            </a>
                        </li>

                        @if (this.User.IsAdmin())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                                    <span>Administration</span>
                                </a>
                            </li>
                        }

                        else if (this.User.IsTeacher())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Teacher
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="Teachers" asp-controller="TeacherGrading" asp-action="CoursesWithStudents">My Courses</a>
                                     </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">My Schedule</a></li>
                                </ul>
                            </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div id="layout" class="container" style="min-height: 50vh;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <section class="offset-md-3 col-md-6 d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-sm-between gap-3 gap-md-0 mb-5">

            <div class="text-center">
                <h4>Contact Us</h4>
                <br />
                <p>Bul. Sankt Petersburg</p>
                <p>Trakia</p>
                <p>Plovdiv</p>
                <p>Bulgaria</p>
            </div>

            <div>
                <h4>Quick Links</h4>
            </div>

            <div>
                <h4>Social Media</h4>
            </div>

        </section>

        <section class="offset-3 col-6 text-center p-2 copyrights">
            <p>&copy; 2024 StudentSystem</p>
        </section>

    </footer>

    <script type="text/javascript">
        document.querySelector('body').onload = function checkIfNotificationMessageIsGiven() {
            toastr.options.closeButton = true;
            toastr.options.progressBar = true;
            toastr.options.allowHtml = true;

            if ('@this.TempData[SuccessNotification]') {
                toastr.success('@Html.Raw(this.TempData[SuccessNotification])');
            }

            if ('@this.TempData[ErrorNotification]') {
                toastr.error('@Html.Raw(this.TempData[ErrorNotification])');
            }
        };
    </script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
